<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login</title>
</head>
<body>
         <!-- NAVBAR START -->
        <%- include('navbar'); %>


<div class="container-fluid">             
 <div class="row align-items-center justify-content-center p-5">
   
        <!-- SIGN IN AREA -->
        <div class="col-12 col-sm-6 col-lg-2 text-center">
              <h4 class="titleForm">Sign In</h4>
              <form action="/users/sign-in" method="POST">
                  <input name="email" type="email" class="form-control mt-2 my-3" placeholder="Email">
                  <input name="password" type="password" class="form-control my-3" placeholder="Password">
                <button type="submit" class="btn btn-danger mt-2 my-3">Submit</button>
              </form>
          </div>

          <!-- SIGN UP AREA -->
          <div class="col-12 col-sm-6 col-lg-2 text-center">
            <h4 class="titleForm">Sign Up</h4>
            <form action="/users/sign-up" method="POST">
              <input name="name" type="text" class="form-control my-3" placeholder="Name">
              <input name="firstname" type="text" class="form-control my-3" placeholder="FirstName">
              <input name="email" type="email" class="form-control my-3" placeholder="Enter email">
              <input name="password" type="password" class="form-control my-3" placeholder="Enter password">
              <button type="submit" class="btn btn-danger mt-2 my-3">Submit</button>
            </form>
        </div>
        </div>

    </div> 
</body>
</html>