<div class="col-12 p-0">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="left">
                <img src="images/train.png"/>
                <a class="navbar-brand p-2 " href="#">Ticketac</a>
            </div>
            <div class="right">
                <a class="navbar-brand" href="users/sign-in">Connexion</a>
                <a class="navbar-brand" href="/lastTrips">My Last Trips</a>
            </div>
        </div>
    </nav>
</div>